HOST_PORT=8080
APP_PORT=8080

APP_DB_HOST=db
APP_DB_PORT=9092
APP_DB_NAME=practica5db
APP_DB_MODE=PostgreSQL
APP_DB_DRIVER=org.h2.Driver
APP_DB_PATH=./data/practica5db
APP_DB_USERNAME=admin
APP_DB_PASSWORD=se

H2_WEB_PORT=8082
H2_DATA_PATH=./data/h2
H2_BASE_DIR=/opt/h2-data

APP_JWT_SECRET=mock-password-con-muchos-caracteres-si-no-no-funciona

